.header {
  min-height: 90vh;

  background-image: linear-gradient(
      to right bottom,
      rgba(252, 245, 238, 0.6),
      rgba(252, 245, 237, 0.6),
      rgba(252, 245, 235, 0.6),
      rgba(251, 246, 234, 0.6),
      rgba(250, 246, 233, 0.6)
    ),
    url("https://images.pexels.com/photos/6152386/pexels-photo-6152386.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: top;
}
.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", cursive;
  color: #363636;
  font-weight: 700;
}

.headerTitlesSmall {
  position: absolute;
  top: 50%;
  font-size: 40px;
  /* background-color: #fcf8f3; */
}
.headerTitlesLarge {
  position: absolute;
  top: 40%;
  font-size: 50px;
  /* background-color: #fcf8f3; */
}
